/* header related styles */
body {
    font-family: Lato;
}

* {
    margin: 0px;
    padding: 0px;
}


.header {
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../Flower Asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-y: 80px;
    background-position-x: 1500px;


}

.banner {
    height: 100vh;
    width: 1000px;
    height: 850px;

    padding: 30px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 400px;
    display: flex;
    width: 708px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);



    font-weight: 400;


    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 18px;

    margin-top: 20px;
    margin-left: 400px;
    display: flex;
    width: 634px;


}

.btn-primary {
    color: #FFF;

    font-size: 20px;
    border: 0px;
    font-weight: 700;

    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;

    margin-top: 30px;
    margin-left: 400px;

}

/* deal style */
main {
    margin-top: 130px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-main {

    background-image: url('../Flower Asset/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 620px;
    justify-content: space-between;
    display: flexbox;
    background-position-y: 100px;
    background-position-x: 1500px;
}

.deal {
    height: 100vh;
    height: 620px;
    justify-content: space-between;
    display: flexbox;
    padding: 50px 50px 0px 50px;

}

.deal-title {
    color: #272727;

    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
    margin-left: 700px;

}

.deal-description {

    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin-top: 18px;
    margin-left: 700px;

}

.span-color {
    color: #E55473;
}

.btn-sign-up {
    margin-top: 18px;
    margin-left: 880px;
    color: #FFF;

    font-size: 20px;
    border: 0px;
    font-weight: 700;

    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

.social-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;

}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 20px;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.box {
    /* width: 232px;
    height: 496px; */


    text-align: center;
    padding: 50px;
    color: white;

}

.social-container {
    display: flex;
    justify-content: space-around;

}

.image {
    width: 342px;
    height: 396px;

}

/* latest section style */

.latest {
    /* background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 400px; */


}

.latest-deal {
    width: 1440px;
    height: 449px;

}

.section-title {


    margin-top: 100px;
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.center {
    color: rgba(39, 39, 39, 0.60);

    margin-top: 10px;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    width: 700px;
    height: 64px;
    flex-shrink: 0;

}
.btn-subscribe{
    /* margin-top: 18px;
    margin-left: 880px; */
    color: #FFF;

    font-size: 20px;
    border: 0px;
    font-weight: 700;

    padding: 20px 43px;
    /* gap: 10px; */
    border-radius: 8px;
    background: #E55473;
}